# Created by https://www.toptal.com/developers/gitignore/api/android,kotlin,google-services
# Edit at https://www.toptal.com/developers/gitignore?templates=android,kotlin,google-services

### Android ###
# Built application files
*.apk
*.aab
*.ap_

# Files for the ART/Dalvik VM
*.dex

# Built C/C++ libraries
*.so

# App Bundle Exploration
*.json

# BUCK build files
buck-out/
\.buckd/
*.keystore
!*.keystore.example

# Android Studio
# It is recommended to not ignore the .idea/workspace.xml file,
# see https://youtrack.jetbrains.com/issue/IDEA-128833.
.idea/
!.idea/codeStyles/
!.idea/copyright/
!.idea/gradle.xml
!.idea/misc.xml
!.idea/vcs.xml
!.idea/sonarIssues.xml
!.idea/deployment.xml
!.idea/libraries/
# Gradle files
.gradle/
build/

# Local configuration file (sdk path, etc)
local.properties

# Secrets
secrets.properties

# Log Files
*.log

# Android Studio Navigation editor files
.navigation/

# Android Studio profiling data
*.hprof

# fastlane
fastlane/report.xml
fastlane/Preview.html

# Ktor
.ktor/

### Google-Services ###
# Ignore the google-services.json file
google-services.json

### Kotlin ###
# Compiled class files
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

# End of https://www.toptal.com/developers/gitignore/api/android,kotlin,google-services